*{
    padding: 0;
    margin: 0;
}
.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 30rem;
    height: 25rem;
    background-color: skyblue;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box img{
    width: 10rem;
}
select{
    width: 7rem;
    height: 3rem;
    border: none;
    border: 1px solid black;
    border-radius: 0.5rem;
}